model_config_list {
        config {
                name: 'alpaca_mobile_netv2_1701759341886'
                base_path: '/models/alpaca_mobile_netv2_1701759341886/'
                model_platform: 'tensorflow'
        }
	config {
                name: 'co2_emission_lstm_1701759497110'
                base_path: '/models/co2_emission_lstm_1701759497110/'
                model_platform: 'tensorflow'
        }
	config {
                name: 'mood_classifier_1701759497220'
                base_path: '/models/mood_classifier_1701759497220/'
                model_platform: 'tensorflow'
        }
        config {
                name: 'cnn_sign_language_detection_1701800022195'
                base_path: '/models/cnn_sign_language_detection_1701800022195/'
                model_platform: 'tensorflow'
        }
}