{% extends 'base.html' %}

{% block container %}

<div class="container top-pad">    
    <div class="row">
        <div class="col">
            <h2>Mood Classification</h2>
            <p>Fill the form and predict the amount your customer will purchase on Black Friday.</p>
            <p class="alert alert-info"><i class="bi bi-info-circle-fill"></i> We can improve this model by changing the model architecture, and adding more training data. At this level I wanted to showcase my work towards implementation and deployment of Machine Learning model.</p>
            <form class="no-submit-form">
                
            </form>
        </div>
        <div class="col">
            <h2>Model summary</h2>
            <pre>
                
            </pre>
        </div>
    </div>    
</div>

{% endblock %}