{% extends 'base.html' %} {% block container %}
<div class="top-pad">
  <div class="row">
    {% for work in mywork %}

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card mb-3 card-shadow">
        <div class="card-header">
          <h5 class="col-6 float-start">{{ work['header'] }}</h5>
          {% if(work['application_url']) %}
          <div class="col-6 float-end text-end mb-2">
            <a href="{{ work['application_url'] }}"
              >Try it yourself <i class="bi bi-box-arrow-up-right"></i
            ></a>
          </div>
          {% endif %}
        </div>
        <div class="row g-0">
          <div
            class="col-md-3 card-image"
            style="background-image: url({{ url_for('static', filename='assets/images/')}}{{ work['image'] }});"
          ></div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  class="link-dark link-underline-opacity-0"
                  href="{{ work['github'] }}"
                  target="_blank"
                  >{{ work['title'] | safe }}</a
                >
              </h5>
              <p class="card-text text-sm" style="font-size: 15px">
                {{ work['description'] | safe }}
              </p>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  justify-items: baseline;
                "
              >
                <div style="text-align: right">
                  <a
                    class="card-link"
                    href="{{ work['github'] }}"
                    target="_blank"
                    ><img class="sm-icon" src="{{ url_for("static",
                    filename="assets/images/github.png") }}" title="Github" /></a
                  >
                  {% for icon in work['icons'] %}
                  <a class="card-link"
                    ><img class="sm-icon" src="{{ url_for("static",
                    filename="assets/images/") }}{{icon}}.png" title="{{ icon | capitalize }}" /></a
                  >
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
