{% extends 'base.html' %}

{% block container %}

<div class="container top-pad">    
    <div class="row">
        <div class="col">
            <h2>Mood Classification</h2>
            <p>You can upload your own image and see what the model says about it.</p>
            <p class="alert alert-info"><i class="bi bi-info-circle-fill"></i> We can improve this model by changing the model architecture, and adding more training data. At this level I wanted to showcase my work towards implementation and deployment of Deep Learning model.</p>
            <form class="no-submit-form">
                <div class="form-group mb-2">
                    <label for=""image_file>Pick your image</label>
                    <input class="form-control" type="file" id="image_file" />
                    <small class="form-text text-muted">Try to pick squared image | Max size: 2 Mb | File types: png, jpg, jpeg</small>
                </div>     
                <div class="form-group mb-2">
                    <button class="btn btn-dark predict-btn" id="upload_image_btn" data-task='mood_detection'>Predict</button>
                </div>  
                <div id="error_mgs" class="text-danger"></div> 
                <div class="row">
                    <div id="image_preview" class="col-3"></div>
                    <div id="result" class="col-9">{% block model_result %}{% endblock %}</div>
                </div>
                <div class="form-group mb-2">
                    {% include "spinner_block.html" %}
                </div> 
            </form>
        </div>
        <div class="col">
            <h2>Model summary</h2>
            <pre>
                Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #   
=================================================================
 zero_padding2d_1 (ZeroPadd  (None, 70, 70, 3)         0         
 ing2D)                                                          
                                                                 
 conv2d_1 (Conv2D)           (None, 66, 66, 32)        2432      
                                                                 
 re_lu_1 (ReLU)              (None, 66, 66, 32)        0         
                                                                 
 max_pooling2d_1 (MaxPoolin  (None, 33, 33, 32)        0         
 g2D)                                                            
                                                                 
 dropout_1 (Dropout)         (None, 33, 33, 32)        0         
                                                                 
 flatten_1 (Flatten)         (None, 34848)             0         
                                                                 
 dense_1 (Dense)             (None, 1)                 34849     
                                                                 
=================================================================
Total params: 37281 (145.63 KB)
Trainable params: 37281 (145.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
            </pre>
        </div>
    </div>    
</div>

{% endblock %}